{% extends 'base.html.twig' %}

{% block title %}Test for Fixture Travel{% endblock %}

{% block body %}

<div class="container">  
   <div class="col-xs-1" align="center">
        <img src="img/1.jpeg" alt="my face">
        <figcaption class="figure-caption">Rodrigo Correa.</figcaption>
        <h1 id="demo"></h1><label for="demo"><h2>Left for my birthday (Oct 25)</h2></label>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
// Set the date we're counting down to
var countDownDate = new Date("Oct 25, 2019 00:00:01").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
{% endblock %}